canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#data-panel {
	position: absolute;
	top: 1em;
	background: url('./img/panel.png');
	border: 1px solid #0f0;
	width: 8em;
	border-radius: 0.5em;
	font-family: 'Slackey', cursive;
	color: #0f0;
	padding: 1em;
	font-size: 2em;
	box-shadow: 0 0 1em #0f0;
}
.player-1 #data-panel {
	right: 1em;
}
.player-2 #data-panel {
	left: 1em;
}
body:not(.targetting) #data-panel {
	display: none;
}

#fullscreen {
	position: absolute;
	top: 1em;
	right: 1em;
}

#scores {
	text-align: center;
	display: none;
}

body:not(.targetting) #shot {
	display: none;
}
