body {
	background: black;
	font-size: 1vw;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	cursor: crosshair;
}

.panel {
	background: url('./img/panel.png');
	border: 1px solid #0f0;
	font-family: 'Slackey', cursive;
	color: #0f0;
	padding: 1em;
	font-size: 2em;
	box-shadow: 0 0 1em #0f0;
	text-shadow: 0 0 .2em #0f0;
	border-radius: 0.5em;
	position: absolute;
}

body:not(.pregame) #intro {
	display: none;
}

* {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
}

#intro {
	position: absolute;
	left: 25vw;
	top: 15vh;
	right: 25vw;
	bottom: 15vh;
	overflow: auto;
}

h1 {
	text-align: center;
	margin-top: 0;
}

#data-panel {
	top: 1em;
	width: 8em;
	display: none;
	pointer-events: none;
	cursor: crosshair;
}
.player-1.powering-up #data-panel {
	right: 1em;
	display: block;
}
.player-2.powering-up #data-panel {
	left: 1em;
	display: block;
}
body:not(.powering-up) #shot {
	display: none;
}
body:not(.game-over) #winner-full {
	display: none;
}

.game-over #winner-full {
	left: calc(50vw - 4em);
	top: calc(50vh - 2em);
	display: block;
	text-align: center;
}

#fullscreen {
	position: absolute;
	bottom: 1em;
	right: 1em;
}
